body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://wallpaperaccess.com/full/1205480.jpg');
    background-size: cover;
}

.male {
    background-color: rgb(47, 29, 246);
}

.female {
    background-color: rgb(243, 46, 144);
}
